<div>
    <div class="top-image">

    </div>
    <div class="top">
        <div class="show  d-flex justify-content-center">
            <img class="" src={{baseURL}}{{userservice[0].seller.userImage}} alt="">
        </div>
        <div class="text-center text-muted">
            <h3>{{userservice[0].seller.username}}</h3>
        </div>
        <div class="text-center">
            <h1>{{userservice[0].serviceName}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row ms-5 mt-5">
            <div class="col-4" *ngFor="let item of userservice[0].serviceImage">
                <div class="card mt-5 cardimg" style="width: 19rem;">
                    <img class="card-img-top rounded" src={{baseURL}}{{item}} alt="Title">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mt-4 mb-4 d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="booking()"  > Book Appointment</button>
        </div>
    </div>
    <div class="container">
        <div [innerHTML]="userservice[0].discrption">

        </div>
    </div>
</div>




<div
  *ngIf="modeel"
  id="myModal"
  class="modal d-block"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.526);"
>
  <div class="modal-dialog " style=" border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h3 id="myModalLabel">Book Appointment</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="close()"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div>
        <app-servicebooking (close)="close()" [data]="userservice[0]"></app-servicebooking>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" (click)="close()">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
