<div class="container">
  <h2>Keep shopping for</h2>
  <div class="row" *ngIf="!productdetails">
    <div class="card ms-2" style="width: 19rem;">
      <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
      <div class="card-body">
        <h5 class="card-title placeholder-wave">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-wave">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
    <div class="card ms-4" style="width: 19rem;">
      <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
      <div class="card-body">
        <h5 class="card-title placeholder-wave">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-wave">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
    <div class="card ms-4" style="width: 19rem;">
      <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
      <div class="card-body">
        <h5 class="card-title placeholder-wave">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-wave">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
    <div class="card ms-4" style="width: 19rem;">
      <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
      <div class="card-body">
        <h5 class="card-title placeholder-wave">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-wave">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
      </div>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let data of productdetails">
      <ng-template carouselSlide>
        <div class="card shadow bg-body rounded" style="width: 15rem">
          <img (click)="navigate(data)" src="{{ imgeurl + data.productImage[0] }}" class="card-img-top p-3" alt="..."
            style="width:15rem;" />
          <div class="card-body">
            <div (click)="navigate(data)" style="cursor: pointer;">
              <div class="product-details">
                <div class="mb-1">
                  <span class="mt-0 mb-0">{{ data.productName }}</span><br />
                  <h4 class="froductname">{{ data.productInfo | srink }}</h4>
                </div>
              </div>
              <div class="d-flex  justify-content-between">
                <div class="product-rating">
                  <div class="d-flex flex-row">
                    <div class="text-warning text-centers mb-1 me-2">
                      <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                      <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                      <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                      <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                    </div>
                  </div>
                </div>
                <div class="fw-semibold text-center">₹{{ data.price }}</div>
              </div>
            </div>
            <div class="product-footer mt-1">
              <button type="button" class="btn btn-primary w-100  btn-lg btn-block" (click)="addtocart(data)">Add to
                Cart</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>


  <div class="container">
    <h2>Recommended For You</h2>
    <div class="row" *ngIf="!productdetails">
      <div class="card ms-2" style="width: 19rem;">
        <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
      </div>
      <div class="card ms-4" style="width: 19rem;">
        <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
      </div>
      <div class="card ms-4" style="width: 19rem;">
        <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
      </div>
      <div class="card ms-4" style="width: 19rem;">
        <span style="width: 100%; height: 200px;" class="card-img-top placeholder" alt="..."></span>
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
      </div>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let data of recomendedpro">
        <ng-template carouselSlide>
          <div class="card shadow bg-body rounded" style="width: 15rem">
            <img (click)="navigate(data)" src="{{ imgeurl + data.productImage[0] }}" class="card-img-top p-3" alt="..."
              style="width:15rem;" />
            <div class="card-body">
              <div (click)="navigate(data)" style="cursor: pointer;">
                <div class="product-details">
                  <div class="mb-1">
                    <span class="mt-0 mb-0">{{ data.productName }}</span><br />
                    <h4 class="froductname">{{ data.productInfo | srink }}</h4>
                  </div>
                </div>
                <div class="d-flex  justify-content-between">
                  <div class="product-rating">
                    <div class="d-flex flex-row">
                      <div class="text-warning text-centers mb-1 me-2">
                        <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                        <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                        <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                        <i class="fa fa-star" style="width: 25px; font-size: x-large"></i>
                      </div>
                    </div>
                  </div>
                  <div class="fw-semibold text-center">₹{{ data.price }}</div>
                </div>
              </div>
              <div class="product-footer mt-1">
                <button type="button" class="btn btn-primary w-100  btn-lg btn-block" (click)="addtocart(data)">Add to
                  Cart</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>