<div class="container  ">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid w-100">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Grocery
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Snacks</a></li>
              <li><a class="dropdown-item" href="#">Dairy & bakery</a></li>
              <li><a class="dropdown-item" href="#">Cooking needs</a></li>
              <li><a class="dropdown-item" href="#">Home care</a></li>
  
            </ul>
          </li>
  
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Electronic
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Laptops</a></li>
              <li><a class="dropdown-item" href="#">Television</a></li>
              <li><a class="dropdown-item" href="#">Mobiles</a></li>
              <li><a class="dropdown-item" href="#">Audio</a></li>
              <li><a class="dropdown-item" href="#">Kitchen appliances</a></li>
              <li><a class="dropdown-item" href="#">Home appliances</a></li>
              <li><a class="dropdown-item" href="#">Gaming</a></li>
              <li><a class="dropdown-item" href="#">IT accessories</a></li>
              <li><a class="dropdown-item" href="#">Personal care & health appliances</a></li>
  
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fashion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Women </a></li>
              <li><a class="dropdown-item" href="#">Men </a></li>
              <li><a class="dropdown-item" href="#">Kids</a></li>
              <li><a class="dropdown-item" href="#">Accessories</a></li>
  
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cosmetic
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Skin care</a></li>
              <li><a class="dropdown-item" href="#">Hair care</a></li>
              <li><a class="dropdown-item" href="#">Makeup</a></li>
              <li><a class="dropdown-item" href="#">Personal Hygiene</a></li>
              <li><a class="dropdown-item" href="#">Fragrances</a></li>
  
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Beauty Services</a></li>
              <li><a class="dropdown-item" href="#">Skin & Hair Care </a></li>
              <li><a class="dropdown-item" href="#">Tifine Services</a></li>
              <li><a class="dropdown-item" href="#">Food </a></li>
              <li><a class="dropdown-item" href="#">Home Cleanning </a></li>
              <li><a class="dropdown-item" href="#">Washing Services </a></li>
            </ul>
          </li>
  
  
  
        </ul>
      </div>
    </nav>
  </div>
