<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let data of productdetails">
      <div class="card shadow-sm m-3  bg-body rounded" style="width: 19rem ; " (click)="navigate(data)">
        <div class="" style="background: #f5f5f7;">
            <img
            src="{{ imgeurl + data.productImage[0] }}"
            class="card-img-top  m-2"
            alt="..."
            style="width: 18rem"
            />
        </div>
        <div class="card-body">
          <div class="product-details">
            <div class="mb-1">
              <span class="mt-0 mb-0">{{ data.productName }}</span
              ><br />
              <h6 class="froductname">{{ data.productInfo | srink }}</h6>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="product-rating">
              <div class="d-flex flex-row">
                <div class="text-warning text-centers mb-1 me-2">
                  <i
                    class="fa fa-star"
                    style="width: 25px; font-size: x-large"
                  ></i>
                  <i
                    class="fa fa-star"
                    style="width: 25px; font-size: x-large"
                  ></i>
                  <i
                    class="fa fa-star"
                    style="width: 25px; font-size: x-large"
                  ></i>
                  <i
                    class="fa fa-star"
                    style="width: 25px; font-size: x-large"
                  ></i>
                </div>
              </div>
            </div>
            <div class="fw-semibold text-center">₹{{ data.price }}</div>
          </div>
          <div class="product-footer mt-1">
            <button
              type="button"
              class="btn btn-primary w-100 btn-lg btn-block"   (click)="addtocart()"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
