.btn{
  font: 1em sans-serif;
  background-color: rgb(23, 62, 90);
  position:relative;
  margin-left: 200px;
  color: rgb(201, 207, 207);

}
.show{
  height: 45px;
  width: 45px;
  padding-top: 2px;
  padding-left: 45px;
}
