.container {
  margin: 650px;
  position: absolute;
  margin-left: 20px;
  margin-right: 2px;
  width: 100%;
  background-color: gray(0, 0, 0, 0.5);
  color: rgb(132, 31, 31);
  padding-left: 10px;
  padding-right: 20px;
}
table {
  border: 1px solid rgba(42, 30, 123, 0.95);
  width: 100%;
  margin: 5px;
}
tr {
  position: relative;
  left: 9%;
}
i {
  color: rgb(36, 36, 166);
}
