<div class="m-5 d-flex  justify-content-around">
  <div>
    <h6><i class="fa fa-gift fa-3x" aria-hidden="true"></i>BONUS PLUS</h6>
    <p style="color: gray">
      Get a bonus plus for buying more that three products
    </p>
  </div>
  <div>
    <h6><i class="fa fa-truck fa-3x" aria-hidden="true"></i>FREE SHIPPING</h6>
    <p style="color: grey">Free shipping on all orders over $99</p>
  </div>
  <div>
    <h6>
      <i class="fa fa-usd fa-3x" aria-hidden="true"></i>MONEY BACK GUARANTEE
    </h6>
    <p style="color: grey">100% money back guarantee</p>
  </div>
  <div>
    <h6>
      <i class="fa fa-history fa-3x" aria-hidden="true"></i>ONLINE SUPPORT 24/7
    </h6>
    <p style="color: grey">Call us: 02 3555 65454 55</p>
  </div>
</div>
