<div>
  <table>
    <tr>
      <td>
        <img
          src="https://images.ansharimages.com/photo/france/nice/place-massena-nice-france.jpg"
          alt=""
          style="height: 500px; width: 500px"
        />
      </td>
      <td class="">
        <h1>Our More Than 20 Years Of Experience</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor,
          orci in lacinia lobortis, tellus tellus placerat tortor, a venenatis
          enim magna vitae urna. In lobortis lorem ut tortor tempor elementum.
          Nunc elementum iaculis eros, eu dignissim nibh sodales id.
          Pellentesque eget risus semper, ultricies neque eget, feugiat erat.
          Aenean ut augue ut diam egestas pulvinar id non ante. Donec elementum
          erat id aliquam viverra. Donec varius ullamcorper sem eget bibendum.
          Donec sed vulputate nisi. Etiam id velit enim. Aliquam commodo
          bibendum nulla quis aliquet.
        </p>

        <p>
          <button
            class="btn btn-light btn-block w-100 "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample1"
            aria-expanded="false"
            aria-controls="collapseExample1"
          >
            How To Become Our Partner
          </button>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida.
            Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus
            et. In sollicitudin bibendum odio, at tristique purus elementum sit
            amet. Integer vulputate, justo at lacinia suscipit, erat nibh
            interdum augue, sit amet hendrerit neque ipsum at eros.
          </div>
        </div>

        <p>
          <button
            class="btn btn-light btn-block w-100" 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample2"
            aria-expanded="false"
            aria-controls="collapseExample2"
          >
            Sell Your Products Here
          </button>
        </p>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida. In
            sollicitudin bibendum odio, at tristique purus elementum sit amet.
            Integer vulputate, justo at lacinia suscipit, erat nibh interdum
            augue, sit amet hendrerit neque ipsum at eros.
          </div>
        </div>
        <p>
          <button
            class="btn btn-light btn-block w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample3"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Awesome Quality
          </button>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida.
            Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus
            et. In sollicitudin bibendum odio, at tristique purus elementum sit
            amet.
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<div style="background-color: rgb(199, 199, 193); margin-top: 25px">
  <h1 style="text-align: center">Our Great Services</h1>
  <p style="text-align: center">
    Boldman has 10+ years of experience with providing wide area of specialty
    services works listed below.
  </p>
  <div>
    <div class="container">
      <div class="row text-center">
        <div
          class="col"
          style="
            background-color: white;
            border: solid 25px rgb(199, 199, 193);
            margin-left: 0px;
          "
        >
          <i
            class="fa fa-check fa-4x"
            aria-hidden="true"
            style="color: rgb(14, 14, 62)"
          ></i>
          <h1>Pure Quality</h1>
          <p style="color: grey">
            Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus,
            eu euismod diam
          </p>
        </div>
        <div
          class="col"
          style="background-color: white; border: solid rgb(199, 199, 193) 25px"
        >
          <i
            class="fa fa-wrench fa-4x"
            aria-hidden="true"
            style="color: rgb(14, 14, 62)"
          ></i>
          <h1 style="text-align: center">Free Service</h1>
          <p style="color: grey">
            Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus,
            eu euismod diam
          </p>
        </div>
        <div
          class="col"
          style="background-color: white; border: solid rgb(199, 199, 193) 25px"
        >
          <i
            class="fa fa-truck fa-4x"
            aria-hidden="true"
            style="color: rgb(14, 14, 62)"
          ></i>
          <h1>Home Delivery</h1>
          <p style="color: grey">
            Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus,
            eu euismod diam
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color: white; margin-top: 30px">
    <h1 style="text-align: center; margin-top: 30px">Our Experts</h1>
    <p style="text-align: center">
      Our development opt in to the projects they genuinely want to work on,
      committing wholeheartedly to delivering.
    </p>
    <table>
      <tr style="align-items: center">
        <td>
          <img
            src="https://th.bing.com/th/id/OIP.cdRpFvAQ8QBmkKpbFHoPaAHaEH?w=325&h=180&c=7&r=0&o=5&dpr=1.7&pid=1.7"
            alt=""
            style="height: 350px; width: 250px; border: solid 25px white"
          />
          <h4 style="text-align: center">Peter Simons</h4>
          <p style="color: gray; text-align: center">CEO & Founder</p>
        </td>
        <td>
          <img
            src="https://blog.imarticus.org/wp-content/uploads/2021/04/shutterstock_1727885815-2048x1365.jpg"
            alt="..."
            style="height: 350px; width: 250px; border: solid 25px white"
          />
          <h4 style="text-align: center">Peter Simons</h4>
          <p style="color: gray; text-align: center">CEO & Founder</p>
        </td>
        <td>
          <img
            src="https://th.bing.com/th/id/OIP.JvqaiL8bUoPxpiVsBmxIpAHaEK?w=311&h=180&c=7&r=0&o=5&dpr=1.7&pid=1.7"
            alt="..."
            style="height: 350px; width: 250px; border: solid 25px white"
          />
          <h4 style="text-align: center">Peter Simons</h4>
          <p style="color: gray; text-align: center">CEO & Founder</p>
        </td>
        <td>
          <img
            src="https://th.bing.com/th/id/OIP.3ajnx1vcjL3sHCjx-yHxEQHaDt?w=312&h=174&c=7&r=0&o=5&dpr=1.7&pid=1.7"
            alt="..."
            style="height: 350px; width: 250px; border: solid 25px white"
          />
          <h4 style="text-align: center">Peter Simons</h4>
          <p style="color: gray; text-align: center">CEO & Founder</p>
        </td>
      </tr>
    </table>
  </div>
</div>
