<div class="row ">
    <div class="col-sm-12">
        <div class="row ">
          <div class=" ml-5 col-lg-6">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item " *ngFor="let img of product?.productImage; let i = index"
                  [ngClass]="{'active': viewImage === i}">
                  <img src="{{baseURL+img}}" class="d-block w-100" alt="Product images">
                </div>
                <!-- <div class="carousel-item" [ngClass]="{'active': viewImage === 2}">
                  <img src="assets/images/product/prod-big-2.jpg" class="d-block w-100" alt="Product images">
                </div>
                <div class="carousel-item" [ngClass]="{'active': viewImage === 3}">
                  <img src="assets/images/product/prod-big-3.jpg" class="d-block w-100" alt="Product images">
                </div>
                <div class="carousel-item" [ngClass]="{'active': viewImage === 4}">
                  <img src="assets/images/product/prod-big-4.jpg" class="d-block w-100" alt="Product images">
                </div>
                <div class="carousel-item" [ngClass]="{'active': viewImage === 5}">
                  <img src="assets/images/product/prod-big-5.jpg" class="d-block w-100" alt="Product images">
                </div> -->
              </div>
              <ol class="carousel-indicators position-relative" >
                <li data-target="#carouselExampleCaptions" class="w-25 h-auto active"
                  *ngFor="let img of product?.productImage; let i = index"
                  >
                  <img src="{{baseURL + img}}" (click)="this.viewImage = i " [ngClass]="{'active': img[i] === i}"
                    class="d-block wid-50"
                    width="50"
                    alt="Product images">
                </li>
                <!-- <li data-target="#carouselExampleCaptions" data-slide-to="1" class="w-25 h-auto"
                  (click)="this.viewImage = 2" [ngClass]="{'active': viewImage === 2}">
                  <img src="assets/images/product/prod-big-2.jpg" class="d-block wid-50" alt="Product images">
                </li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2" class="w-25 h-auto"
                  (click)="this.viewImage = 3" [ngClass]="{'active': viewImage === 3}">
                  <img src="assets/images/product/prod-big-3.jpg" class="d-block wid-50" alt="Product images">
                </li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3" class="w-25 h-auto"
                  (click)="this.viewImage = 4" [ngClass]="{'active': viewImage === 4}">
                  <img src="assets/images/product/prod-big-4.jpg" class="d-block wid-50" alt="Product images">
                </li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4" class="w-25 h-auto"
                  (click)="this.viewImage = 5" [ngClass]="{'active': viewImage === 5}">
                  <img src="assets/images/product/prod-big-5.jpg" class="d-block wid-50" alt="Product images">
                </li> -->
              </ol>
            </div>
          </div>
          <div class="col-lg-5 mt-5">
            <form class="pl-lg-4">
              <h6 class="text-muted">Jolyecart logistic</h6>
              <h3 class="mt-0">{{product?.productName}} <a href="javascript: void(0);" class="text-muted"><i
                    class="mdi mdi-square-edit-outline ml-2"></i></a> </h3>
              <p class="mb-1">{{product?.createAt}}</p>
              <div class="mt-3">
                <h5 *ngIf="product?.inStock"><span class="badge bg-success">Instock</span></h5>
  
              </div>
              <div class="mt-4">
                <h6>Special price:</h6>
                <h3>{{product?.price}} </h3>
                <h5><span class="badge bg-success">3.8 <i class="feather icon-star-on"></i></span> 179 ratings and 43
                  reviews</h5>
              </div>
              <div class="mt-4">
                <ul class="list-unstyled">
                  <li>
                    <div class="media">
                      <i class="fa fa-tag text-success mr-2 mt-2"></i>
                      <div class="media-body">
                        <strong class="">Bank Offer</strong>
                        <span>10% Instant Discount on ABCD Bank Credit &amp; Debit Cards</span>
                        <a href="javascript:">T&amp;C</a>
                      </div>
                    </div>
                  </li>
                  <li class="mt-2">
                    <div class="media">
                      <i class="fa fa-tag text-success mr-2 mt-2"></i>
                      <div class="media-body">
                        <strong class="">Bank Offer</strong>
                        <span>5% Unlimited Cashback on Flipkart PQR Bank Credit Card</span>
                        <a href="javascript:">T&amp;C</a>
                      </div>
                    </div>
                  </li>
                  <li class="mt-2">
                    <div class="media">
                      <i class="fa fa-tag text-success mr-2 mt-2"></i>
                      <div class="media-body">
                        <strong class="">Bank Offer</strong>
                        <span>Extra 5% off* with XYZ Bank Buzz Credit Card</span>
                        <a href="javascript:">T&amp;C</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h6>Color</h6>
                  <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                    <label class="btn btn-primary hei-40 mr-2 active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked>
                    </label>
                    <label class="btn btn-success hei-40 mr-2">
                      <input type="radio" name="options" id="option2" autocomplete="off">
                    </label>
                    <label class="btn btn-warning hei-40 mr-2">
                      <input type="radio" name="options" id="option3" autocomplete="off">
                    </label>
                    <label class="btn btn-danger hei-40 mr-2">
                      <input type="radio" name="options" id="option3" autocomplete="off">
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 mt-md-0 mt-2">
                  <h6>Size</h6>
                  <button class="btn btn-outline-secondary btn-sm">XS</button>
                  <button class="btn btn-outline-secondary btn-sm">S</button>
                  <button class="btn btn-outline-secondary active btn-sm">M</button>
                  <button class="btn btn-outline-secondary btn-sm">L</button>
                  <button class="btn btn-outline-secondary btn-sm">XL</button>
                </div>
                <div class="col-sm-6 mt-md-0 mt-2">
                  <h6><i class="feather icon-map-pin"></i> Deliver to</h6>
                  <div class="form-group">
                    <label class="floating-label" for="pincode">Enter delivery pincode</label>
                    <input type="password" class="form-control" id="pincode" placeholder="">
                  </div>
                </div>
                <div class="col-sm-6 text-sm-right mt-md-0 mt-2">
                  <h6>Quantity</h6>
                  <div class="form-group">
                    <input type="number" min="1" value="1" class="form-control" placeholder="Qty">
                  </div>
                </div>
                <div class="col-sm-6 mt-md-0 mt-2">
                  <button type="button" class="btn btn-block btn-lg btn-warning"><i class="fa fa-cart-plus mr-1"></i> Add
                    to cart</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-block btn-lg btn-danger mt-md-0 mt-2"><i
                      class="fa fa-bolt mr-1"></i> Buy now</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-12">
            <div class="mt-4">
              <div class="d-flex">
                <h4 class="text-left" >Description:</h4>

                <div class="" [innerHTML]="product?.discrption">
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  