<nav class="navbar navbar-expand-lg navbar-light p-4  " style="background-color: #ffffff;  z-index: 2;">
  <div class="container">
    <a class="navbar-brand fs-3 fw-bold header  ml-5" href="#">SHOP & SERVICE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link opacity-75  text-primary  active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  opacity-75 text-primary" href="#" routerLink="contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  opacity-75 text-primary" href="#" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  opacity-75 text-primary" href="#" routerLink="user">Profile</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-shopping-cart 
              text-primary fa-2x  " routerLink="cart" aria-hidden="true"></i>
          <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
            {{cartItem ? cartItem :""}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </li>

      </ul>
    </div>
  </div>
</nav>