.navbar {
  border-bottom: 2px solid black;
  position: relative;
  justify-items: center;
  justify-content: center;
}
.nav-link {
  font-size: 22px;
  font-weight: 500;
}
ul,
li,
a {
  padding-right: 5px;
  margin-right: 8px;
}

.header {
  background: linear-gradient(to left top, #217cf3, #4a08ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
