<div style="background-color: rgb(210, 207, 207);">
  <p >The price and availability of items at Amazon.in are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price.

    Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
  </div>
  <hr>
  <div style="text-align: center; background-color: white;">

  <p>See personalized recommendations</p>
  <botton style="background-color: rgb(19, 19, 71);color: white;" routerLink="#"  >Sign-In</botton>
  <p>New customer?<a  routerLink="signUp"> Start here.</a></p>
  </div>
